html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    background-color: #00539F;
}
h1 {
    font-size: 60px;
    text-align: center;
}
p ,li {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0 120px;
}
body {
    background-color:rgb(91, 183, 220);
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    border:black solid 2px;
    padding-bottom: 40px;
}
h1 {
    color: #00539F;
    padding: 20px 0;
    margin: 0;
    text-shadow: 1px 1px 2px black;
}
img {
    display: block;
    margin: 0 auto;
}
a {
    margin-left: 120px;
}